---
import BasePage from '../../layouts/BasePage.astro';

import { getCollection } from 'astro:content';

const posts = (await getCollection('software')).sort(
  (a, b) => a.data.order - b.data.order,
);

const PAGE_TITLE = 'Software';
const PAGE_DESCRIPTION =
  "A list of some tools and personal projects I've made.";
---

<BasePage title={PAGE_TITLE} description={PAGE_DESCRIPTION}>
  <section>
    <ul class="posts">
      {
        posts.map((post) => (
          <li>
            <span>
              <a href={`/s/${post.slug}/`}>{post.data.title}</a>
            </span>
            <span class="emoji">{post.data.emoji}</span>
            <br />
            <span>{post.data.description}</span>
          </li>
        ))
      }
    </ul>
  </section>
</BasePage>

<style>
  .posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    margin-bottom: 1em;
  }

  .emoji {
    margin-left: 0.5em;
  }
</style>
