{{#extend "default"}}
  {{#content "main"}}
  <section id='main'>
    <article class="post" itemscope itemtype="http://schema.org/Article">
      <header>
        <h1 class="title" itemprop="name">{{title}}</h1>
        <div class="meta">
          Posted by
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
          {{author}}</span></span> on
          <time itemprop="datePublished" content="{{date}}">{{date}}</time>
        </div>
      </header>
      <hr>
      <div class="content" itemprop="articleBody">{{{contents}}}</div>
    </article>

    <hr>

    <div id="comments-app" data-issue="{{issue}}">

      {{#if issue}} <!-- Only if the post has an issue number in the metadata -->
      {{{{raw}}}} <!-- Prevent Handlebars from rendering this block -->

          <div class="comment" v-for="comment in comments">
            <div class="comment-avatar">
              <img v-bind:src="comment.user.avatar_url + '&s=80'">
            </div>
            <div class="comment-meta">
              <a class="comment-user" v-bind:href="comment.user.html_url" target="_blank">
                {{comment.user.login}}</a> commented on {{ comment.created_at | truncate(10) }}
            </div>
            <div class="comment-body" v-html="comment.body_html"></div>
          </div>

          <hr v-if="comments.length > 0">

      {{{{/raw}}}}

          <div class="comment-write">
            <strong>Want to leave a comment?</strong> Use this post's <a href="{{site.issuePage}}{{issue}}" target='_blank'>issue page</a> on GitHub, it will show up here!
          </div>

      {{/if}}

    </div>

  </section>
  <script src="/assets/app.js"></script>

  {{/content}}
{{/extend}}
