<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta content='NOODP' name='robots'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Daniele Salvagni" />
  <meta name="keywords"  content="Daniele Salvagni, Computer Engineer, Informatico, Ingegnere, Developer, Programmazione" />
  <meta content='{{description}}' name='description'>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico"/>
  <title>{{title}}</title>
  <link rel="stylesheet" media="all" href="/assets/main.css" />
</head>
<body>
  <!--<div id='particles'></div>-->
  <div class='container-home'>

    <header id='index-header'>
      <a href='/'><img class="logo-home" src="/assets/img/logo.png"></a>
    </header>

    <section id='content-home'>
      {{{contents}}}

      <div class="tools"><b>TOOLS AND SOFTWARE</b>
        <ul>
          {{#each collections.software}}
            <li>
              <strong><a href='/{{this.path}}'>{{this.title}}</a></strong> -
              <span class='descr'>{{this.subtitle}}</span>
            </li>
          {{/each}}
        </ul>
      </div>

    </section>

    <footer id="index-footer">
    </footer>

  </div>
<footer id='footer'>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-103034681-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
<!--<script src='/assets/particles.js'></script>-->
</html>
