---
import FormattedDate from '../components/FormattedDate.astro';
import BasePage from './BasePage.astro';

import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate, updatedDate, issue, image } = Astro.props;
---

<BasePage title={title} description={description} image={image}>
  <article class="prose">
    <div class="title">
      <h1>{title}</h1>
      <div class="date">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
    </div>
    <slot />

    <!-- if there is "issue" metadata, show the comments -->
    {
      issue && (
        <script
          src="https://giscus.app/client.js"
          data-repo="daniele-salvagni/dan.salvagni.io"
          data-repo-id="MDEwOlJlcG9zaXRvcnk3MjM3NTM3Ng=="
          data-mapping="number"
          data-term={issue}
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="noborder_light"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async
        />
      )
    }
  </article>
</BasePage>

<style>
  .title {
    margin-bottom: 3em;
    text-align: center;
    line-height: 1;
    border-bottom: 1px solid var(--gray-lightest);
    padding-bottom: 1.6em;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
  }
  .date {
    color: var(--gray-soft);
    font-family: var(--ff-mono);
    font-size: var(--fs-mono);
    margin-bottom: 0.5em;
  }
  .last-updated-on {
    font-style: italic;
  }
</style>
