---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Date from "../components/utilities/Date.astro";

export interface Props {
    content: {
        title: string;
        description: string;
        excerpt: string;
        publishDate: string;
        issue: number;
    };
}

const {
    content: { title, description, excerpt, publishDate, issue },
} = Astro.props as Props;
---

<html>

<head>
    <BaseHead title={title} description={excerpt} />
</head>

<body>
    <div class="main">
        <Header />

        <main class="content container">

            <header class="post-header">
                <h1 class="post-title">{title}</h1>
                <div class="post-date">
                    <Date date={publishDate} />
                </div>
            </header>

            <div class="content-body">
                <slot></slot>
            </div>

            <br>
            <script src="https://giscus.app/client.js" data-repo="daniele-salvagni/dan.salvagni.io"
                data-repo-id="MDEwOlJlcG9zaXRvcnk3MjM3NTM3Ng==" data-mapping="number" data-term={issue}
                data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="light"
                data-lang="en" data-loading="lazy" crossorigin="anonymous" async></script>

        </main>

        <Footer />
    </div>
</body>

</html>

<style>
    h1.post-title {
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    .comment-write {
        margin: 2em 0;
        padding: 1em;
        text-align: center;
        background-color: #fffce7;
    }

    .giscus {
        font-size: 10px;
    }
</style>
