---
import '@/styles/global.css';
import { config } from '@/custom.config';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const canonicalURL = '';

const { title, description, image } = Astro.props;

const pageTitle = title ? `${config.site.title} - ${title}` : config.site.title;
const pageDescription = description || config.site.description;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<!-- <link rel="icon" type="image/svg+xml" href="/facicon.svg" /> -->
<link rel="icon" type="image/png" href="/duck.png" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={pageDescription} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Preloads -->
<link
  rel="preload"
  href="/fonts/iAWriterQuattroS-Regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={pageDescription} />
<!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->
